doctype html
html
  head
    title= title

    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no')

    script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.23.0/mapbox-gl.js')
    script(src='/javascripts/jquery-2.x-git.min.js')

    link(rel='stylesheet' href='/stylesheets/style.css')
    link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.23.0/mapbox-gl.css' rel='stylesheet')

  body
    #map(style='position:absolute; top:0; bottom:0; width:100%;')

    block content

    script(src='/javascripts/mapbox.js')